.gradle
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
bin
build
out
target
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.log
*.log.*
*.iml
*.ipr
*.iws
*.pyc
.idea
*.jar
.DS_Store
dump.rdb
transaction-logs
*.csv
